// 情感
.emotion {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}
// 励志
.encourage {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
// 娱乐
.entertainment {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
// 修身
.self-cultivation {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
// 唯美
.aestheticism {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
// 哲学
.philosophy {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
