/*! @import */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .nut-drag .nut-fixednav__btn .text {} */

@media only screen and (max-width: 678px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 678px) and (max-width: 1280px) {
  html,
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 2560px) {
  html,
  body {
    font-size: 16px;
  }
}
